/*
General Styles
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: #28352f;
  margin: 0;
}

a {
  text-decoration: none;
  color: #28352f;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  background-color: #36b37f;
  color: #fff;
  padding: 12px;
  border-radius: 4px;
  margin: 10px 0;
  transition: 0.5s;
  border: none;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

button:active {
  background: #008552;
}

div.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
Navigation
*/

nav.navigation {
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  width: 100%;
  position: relative;
}

a#logo {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  margin-left: 0.6em;
}

ul.nav-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: -25em;
  width: 100%;
  list-style-type: none;
  margin-left: 0;
  margin-top: 0;
  padding-left: 0;
  background-color: #fff;
  color: #3a4a42;
  height: 100vh;
  transition: left 0.7s;
  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
}

li.nav-item {
  font-size: 32px;
  font-weight: 600;
  padding-left: 0.7em;
  line-height: 44px;
}

li.nav-item:nth-child(3) {
  margin: 0.7em 0;
}

button#toggle-btn {
  padding: 8px;
  background-color: transparent;
}

button#close-btn {
  background-color: transparent;
  color: gray;
  font-size: 1.5em;
  width: 2em;
  align-self: flex-end;
}

/*
Headline Section
*/
section#headline-section {
  background-image: url('assets/header-illsutration-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 3.5em;
}

section.primary-text {
  margin: 0;
  color: #172b4d;
}

h2.pt_1,
h2.pt_2 {
  font-size: 2.62em;
  font-weight: 700;
}

h2.pt_2 {
  color: #36b37e;
}

section.secondary-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

p.supporting-text {
  font-size: 22px;
  font-weight: 400;
  padding: 20px;
  line-height: 28px;
  color: #172b4d;
}

footer.socials {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 20px;
}

section#action-btn {
  flex-basis: 10em;
  margin-top: 5em;
}

button.ac-btn {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #dfe1e6;
}

button.ac-btn:hover {
  background-color: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

button.ac-btn:active {
  background: #008552;
}

/*
Projects Section
*/
section#projects {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "pj-heading" "project-list";
}

h3.pj-heading {
  grid-area: pj-heading;
  text-align: center;
  font-size: 45px;
  margin-top: 20px;
  position: relative;
  padding-bottom: 30px;
  color: #172b4d;
}

h3.pj-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 145px;
  width: 70px;
  height: 6px;
  background-color: #36b37e;
  border-radius: 10px;
}

section.project-list {
  margin-top: 4em;
  padding: 20px;
  grid-area: project-list;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  row-gap: 25px;
  grid-template-areas: "pj-1" "pj-2" "pj-3" "pj-4" "pj-5" "pj-6";
}

div.pj-card {
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

div.pj-thumbnail {
  height: 250px;
}

div.pj-card-body {
  background: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.pj-card-title {
  text-align: center;
  font-size: 24px;
  color: #3a4a42;
  line-height: 32px;
}

ul.pj-card-lists {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

li.pj-card-list-item {
  background-color: #ebf0ee;
  padding: 8px 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

li.pj-card-list-item span {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

section.pj-1 {
  grid-area: pj-1;
}

section.pj-2 {
  grid-area: pj-2;
}

section.pj-3 {
  grid-area: pj-3;
}

section.pj-4 {
  grid-area: pj-4;
}

section.pj-5 {
  grid-area: pj-5;
}

section.pj-6 {
  grid-area: pj-6;
}

button.pj-card-action {
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

/*
About Me Section
*/
section#about-me {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

section.about-text {
  background-image: url('assets/aboutFrame.svg'), url('assets/Mask_Group.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right top;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

h3.about-heading {
  font-size: 40px;
  color: #172b4d;
}

p.about-desc {
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

button.about-btn {
  width: 10em;
  align-self: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

ul.categories {
  list-style-type: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 72em;
  justify-content: space-around;
}

li.list-item {
  background-color: #ebf0ee;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  border-radius: 8px;
  border: 1px solid #c1c7d0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li.list-item img {
  width: 50%;
}

section.list-body h3.list-title {
  font-size: 24px;
  font-weight: 600;
  color: #344563;
  line-height: 32px;
  margin-bottom: 20px;
}

ul.languages {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li.language {
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  margin: 5px;
}

li.language span {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #36b37e;
}

/*
Contact Section
*/
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section#contact div {
  width: 100%;
}

ul.form-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#contact h2 {
  font-size: 40px;
  font-weight: 700;
  width: 327px;
  height: 363px;
  color: #172b4d;
  margin: 0 auto 50px;
}

#form {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url('./assets/illustration-contact-form.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.form-control {
  width: 300px;
  height: 48px;
  border-radius: 4px;
  background-color: #fff;
  color: #6b778c;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #d0d9d4;
  padding-left: 10px;
}

#form-textarea {
  height: 114px;
  border: 1px solid #60c095;
  color: #091e42;
}

ul.form-list li:nth-child(2) {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-submit {
  margin-top: 20px;
  margin-bottom: 30px;
}

p.email-address {
  margin-top: 10px;
  height: 189px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #42526e;
}

/*
Media Queries for Medium and Large screens
*/

@media (min-width: 400px) and (max-width: 737px) {
  a#logo,
  button#toggle-btn,
  button#close-btn {
    display: none;
  }

  ul.nav-list {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    height: auto;
  }

  li.nav-item {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: #344563;
    padding-left: 0;
  }

  li.nav-item:nth-child(1) {
    margin-top: auto;
  }

  li.nav-item:nth-child(3) {
    margin: 0 32px;
  }

  section#headline-section {
    background: none;
    margin-top: 2em;
  }

  div.hero-section {
    background-image: url('assets/Header-llustration-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 40em;
  }

  h2.pt_1,
  h2.pt_2 {
    font-size: 35px;
  }

  h3.pj-heading {
    margin-bottom: 0;
    padding: 0 1em 0.5em 1em;
  }

  h3.pj-heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 70px;
    height: 6px;
    background-color: #36b37e;
    border-radius: 10px;
  }

  section#projects {
    margin-top: 3em;
  }

  p.about-desc {
    font-size: 18px;
    padding: 0 1em;
  }

  section.about-text {
    display: block;
    height: 13em;
  }

  ul.categories {
    height: 85em;
    width: 70%;
    margin: 0 auto;
  }

  #contact h2 {
    width: 420px;
    height: 180px;
    font-size: 30px;
  }

  ul.form-list {
    width: 80%;
  }

  .form-control {
    width: 80%;
  }

  p.email-address {
    height: 70px;
  }

  footer.socials {
    padding: 1em;
    align-items: baseline;
  }
}

@media screen and (min-width: 738px) {
  /*
  Headline Section
  */
  div.hero-section {
    background-image: url('assets/Header-llustration-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 40em;
  }

  /*
  Navigation
  */

  a#logo,
  button#toggle-btn,
  button#close-btn {
    display: none;
  }

  ul.nav-list {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: transparent;
  }

  li.nav-item {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: #344563;
    padding-left: 0;
  }

  li.nav-item:nth-child(1) {
    margin-top: auto;
  }

  li.nav-item a {
    transition: 0.8s;
  }

  li.nav-item a:hover {
    color: #36b37e;
  }

  li.nav-item:nth-child(3) {
    margin: 0 32px;
  }

  section#headline-section {
    background: none;
    margin-top: 2em;
  }

  .kwasi {
    animation-name: rotation;
    animation-duration: 3s;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  h2.pt_1,
  h2.pt_2 {
    font-size: 43px;
  }

  section.secondary-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  p.supporting-text {
    width: 33em;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    color: #172b4d;
  }

  footer.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1em;
    align-items: baseline;
  }

  /*
  Projects Section
  */
  h3.pj-heading {
    margin-bottom: 0;
  }

  h3.pj-heading::after {
    display: none;
  }

  section.project-list {
    margin-top: 0;
    display: grid;
    min-height: 55em;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding-bottom: 0;
  }

  /*
  About Section
  */
  section#about-me {
    min-height: 114em;
  }

  section.about-text {
    background-image: url('assets/illustration-about-me-2-desktop@2x.svg'), url('assets/illustration-about\ me-1-desktop@2x.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: 10em, 8em;
    background-position: left center, right top;
    display: block;
    padding-bottom: 0;
    height: 35em;
  }

  p.about-desc {
    width: 65%;
    margin: 0.6em auto;
  }

  ul.categories {
    margin-top: 2em;
    flex-direction: column;
    height: 55em;
    justify-content: space-evenly;
    align-items: center;
  }

  li.list-item {
    width: 45%;
    padding: 3em;
    min-height: 22em;
    border-radius: 8px;
    border: 1px solid #c1c7d0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
  }

  li.list-item:hover {
    cursor: pointer;
    border: 1px dashed #36b37e;
  }

  li.list-item img {
    transition: 1s;
  }

  li.list-item img:hover {
    transform: scale(1.2);
  }

  li.list-item:nth-child(2) {
    margin: 1.5em 0;
  }

  section#contact {
    background-image: url('assets/Frame-1.svg'), url('assets/illustration-2-contact-form-desktop.svg'), url('assets/Frame.svg');
    background-repeat: no-repeat;
    background-position: left bottom, 10em bottom, right bottom;
    background-size: 9em;
    border-bottom: 1px solid #dfe1e6;
  }

  section#contact div {
    width: 70%;
    margin: 0 auto;
    align-items: center;
    gap: 2em;
  }

  section#contact div h2 {
    font-size: 30px;
    text-align: center;
    width: 17em;
    margin: 0 auto;
    height: 5em;
  }

  #form {
    width: 100%;
    background: none;
  }

  ul.form-list {
    width: 100%;
    padding-left: 0;
  }

  ul.form-list li .form-control {
    width: 90%;
    margin: 0 auto;
  }

  ul.form-list li {
    text-align: center;
  }

  p.email-address {
    display: none;
  }
}

@media screen and (min-width: 930px) {
  /*
  Projects Section
  */
  section.project-list {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    grid-template-areas:
      "pj-1" "pj-2" "pj-3"
      "pj-4" "pj-5" "pj-6";
  }
}

@media screen and (min-width: 992px) {
  /*
  Headline Section
  */
  section#headline-section {
    margin-top: 4em;
  }

  .kwasi {
    animation-name: rotation;
    animation-duration: 3s;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  h2.pt_1,
  h2.pt_2 {
    font-size: 48px;
  }

  p.supporting-text {
    font-size: 18px;
  }

  section#about-me {
    min-height: 90em;
    align-content: flex-start;
    justify-content: flex-start;
  }

  section.about-text {
    background-position: left center, right top;
    background-size: 14em, 13em;
    padding: 3em 0 0 0;
    height: 20em;
  }

  p.about-desc {
    width: 60%;
  }

  ul.categories {
    margin-top: 0;
    padding-top: 0;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60em;
    align-content: flex-start;
  }

  li.list-item {
    width: 33.3%;
    margin: 0;
  }

  li.list-item:nth-child(3) {
    margin-top: 0.7em;
  }

  section#contact div h2 {
    width: 20em;
    font-size: 35px;
    height: 4.5em;
  }
}

@media screen and (min-width: 1000px) {
  div.hero-section {
    min-height: 60em;
  }
}

@media screen and (min-width: 1200px) {
  /*
  Headline Section
  */
  section#headline-section {
    margin-top: 8em;
  }

  .kwasi {
    animation-name: rotation;
    animation-duration: 3s;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  p.supporting-text {
    font-size: 20px;
    width: 38em;
  }

  section.project-list {
    width: 70%;
    margin: 0 auto;
  }

  section#about-me {
    min-height: 55em;
  }

  section.about-text {
    background-size: 15em, 15em;
    height: 14em;
  }

  p.about-desc {
    width: 70%;
  }

  ul.categories {
    flex-wrap: nowrap;
    width: 85%;
    margin: 3rem auto;
    align-items: flex-start;
    gap: 2em;
    height: 30em !important;
  }

  li.list-item:nth-child(2),
  li.list-item:nth-child(3) {
    margin-top: 0;
  }

  section#contact div {
    display: flex;
    padding-bottom: 10em;
  }

  section#contact div h2 {
    height: 7em;
  }

  ul.form-list li {
    text-align: start;
  }

  footer.socials {
    padding: 1.5em;
  }
}

@media screen and (min-width: 1332px) {
  /*
  Headline Section
  */
  p.supporting-text {
    width: 45em;
  }
}
