/*
General Styles
*/

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #28352f;
  margin: 0;
}

a {
  text-decoration: none;
  color: #28352f;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/*
Navigation
*/

nav.navigation {
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  padding: 10px 20px;
}

a#logo {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

/*
Headline Section
*/

section#headline-section {
  background-image: url('assets/header-illsutration-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  text-align: center;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

section.primary-text {
  margin: 0;
  color: #172b4d;
}

h2.pt_1,
h2.pt_2 {
  font-size: 2.62em;
}

h2.pt_2 {
  color: #36b37e;
}

section.secondary-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

p.supporting-text {
  font-size: 22px;
  padding: 20px;
  color: #172b4d;
}

section.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button.action-btn {
  display: inline;
  padding-left: 0;
  width: 50px;
}

/*
Projects Section
*/
section#projects {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: 
    "pj-heading"
    "project-list"
}

h3.pj-heading {
  grid-area: pj-heading;
  text-align: center;
  font-size: 45px;
  margin-top: 20px;
  position: relative;
  padding-bottom: 30px;
}

h3.pj-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 145px;
  width: 70px;
  height: 6px;
  background-color: #36b37e;
  border-radius: 10px;
}

section.project-list {
  margin-top: 4em;
  padding: 20px;
  grid-area: project-list;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  row-gap: 25px;
  grid-template-areas: 
    "pj-1"
    "pj-2"
    "pj-3"
    "pj-4"
    "pj-5"
    "pj-6";
}

section.pj-card {
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

section.pj-thumbnail {
  height: 250px;
}

section.pj-card-body {
  background: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.pj-card-title {
  text-align: center;
  font-size: 24px;
}

ul.pj-card-lists {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

li.pj-card-list-item {
  background-color: #ebf0ee;
  padding: 8px 12px;
  border-radius: 4px;
}

li.pj-card-list-item span {
  font-weight: 600;
}

button.pj-card-action {
  background-color: #36b37f;
  color: #fff;
  padding: 12px;
  border-radius: 4px;
  margin: 10px 0;
  transition: 0.5s;
}

button.pj-card-action:hover {
  box-shadow: 0px 8px 16px rgba(54, 179, 127, 0.24);
}

button.pj-card-action:active {
  background: #008552;
}

section.pj-1 {
  grid-area: pj-1;
}

section.pj-2 {
  grid-area: pj-2;
}

section.pj-3 {
  grid-area: pj-3;
}

section.pj-4 {
  grid-area: pj-4;
}

section.pj-5 {
  grid-area: pj-5;
}

section.pj-6 {
  grid-area: pj-6;
}
